.search-results {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1rem;
  min-height: 10rem;
}

.search-results-loading {
  position: relative;
}

.search-results-loading .spinner {
  position: absolute;
  left: 50%;
  margin-left: -18px;
  margin-top: 10rem;
}

@media (max-width: 520px) {
  .search-results img {
    height: 320px;
    width: 320px;
  }
}
