.search-bar {
  position: relative;
}

.search-bar .search-form {
  display: flex;
  gap: 1rem;
}

.search-bar .search-form .search-input {
  width: 100%;
}

.search-bar .search-form .search-button {
  background-color: var(--primary-color);
}

.search-history {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  left: 0;
  margin: 0;
  max-height: 15rem;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  text-align: left;
}

.search-history li {
  color: black;
  cursor: pointer;
  padding: 0.75rem 1rem;
}

.search-history li:hover {
  background-color: #bbb;
}
